<div class="col-sm-2 col-sm-offset-5">
    <div class="new-contractor-header">
        <div class="image-container new-contractor-backgournd"></div>
    </div>
    <form ng-submit="updateProfile(contractor)" role="form" ng-init="registrationForm = {}">
        <div class="form-group">
            <input type="text" ng-model="contractor.first_name" required="required" placeholder="First Name" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" ng-model="contractor.last_name" required="required"  placeholder="Last Name" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" ng-model="contractor.mobile_phone" required="required" placeholder="Phone" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" ng-model="contractor.street" required="required" placeholder="Street" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="text" ng-model="contractor.suburb" required="required" placeholder="Suburb" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="text" ng-model="contractor.state" required="required" placeholder="State" class="form-control"/>
        </div>
        <div class="image-container avalibility-lable-background"></div>
        <div class="form-group">
            <multi-select
                    input-model="states"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    >
            </multi-select>
        </div>
        <div class="new-contractor-header">
            <div class="image-container avalibility-lable-background"></div>
        </div>
        <div class="form-group" ng-repeat="jobrole in contractor.job_roles_attributes track by jobrole.id ">
            <job-data-rang jobrole="jobrole"></job-data-rang>
        </div>
        <a href ng-click="addJobTitle()" >Add</a>
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </form>
</div>