<div class="col-sm-8 content-area" id="main-profile">

  <div class="row top-buffer">
    <div class="col-sm-2 col-sm-offset-1">
      <div class="default-image">
        <div class="image-container profile-title-background"></div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="profile-board">
        <img class="image-profile-board" src="<%= asset_data_uri('pic.png') %>">
        <div class="text-profile-board" style="background-color: #ffffff" >
          <h2 style="font-family: 'Open Sans', sans-serif;">{{contractor.first_name}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-sm-4 col-sm-offset-1">
      <div class='job-role-block' ng-repeat="jobRole in contractor.job_roles_attributes" style="height: 100px;">
        <img src="<%= asset_data_uri('time-range-icon.png') %>" style=" position: absolute; left: 10px;">
        <div class="job-role-description">
          <p class="job-role-title" style="margin-bottom: 0px">{{jobRole.title}}</p>
          <p class="job-role-range">March 2012- present</p>
          <p class="job-role-description"></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="col-sm-4 content-area" id="navigation-profile">
</div>


