<div class="col-sm-4 col-sm-offset-2">
    <form ng-submit="register(registrationForm)" role="form" ng-init="registrationForm = {}">
        <div class="form-group">
            <label >First Name</label>
            <input type="text" ng-model="registrationForm.firstName" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" ng-model="registrationForm.lastName" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>password confirmation</label>
            <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Mobile Phone</label>
            <input type="text" ng-model="registrationForm.mobilePhone" required="required" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" ng-model="registrationForm.street" required="required" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Suburb</label>
            <input type="text" ng-model="registrationForm.suburb" required="required" class="form-control"/>
        </div>

        <div class="form-group">
            <label>State</label>
            <input type="text" ng-model="registrationForm.state" required="required" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </form>
</div>